<app-header></app-header>
<div>
    
    
    <app-leftsidemenu></app-leftsidemenu>
    <div class="col-sm-12 rightmiddlesection">
        
        <div class=" col-sm-12 secondsegment" style="padding-top: 0vw;">
            <form >    
              
                <div class="row">
                    <div class=" col-sm-12 formsegment" >
                        <fieldset>
                            <legend>Personal</legend>
                            <table class="content" style="width: 100%; margin-bottom: 16px;">
                                <tr>
                                    <td>Name:</td>
                                    <td><input type="text" name="personname" [(ngModel)]="name"></td>
                                    <!-- <td><i class="fa fa-exchange centeralign justify" (click)="swapvalue1(name,location)" aria-hidden="true"></i></td>
                                
                                    <td>Location:</td>
                                    <td><input type="text" name="degree"  [(ngModel)]="location"></td>
                                 -->
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swap_pdetail1(name,contact)" aria-hidden="true"></i></td>
                                    <td></td>
                                  
                                </tr>
                                <tr>
                                    <td>Contact Number:</td>
                                    <td><input type="number" name="colname" [(ngModel)]="contact"></td> 
                                  
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row">    
                    <div class=" col-sm-12 formsegment" >
                        <fieldset>
                            <legend>Experience</legend>
                            <table style="width: 100%;margin-bottom: 16px;">
                                <tr>
                                    <td>Designation 1:</td>
                                    <td><input type="text" name="Designation_1" [(ngModel)]="dsgn1"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapdes_comp1(dsgn1,comp1)" aria-hidden="true"></i></td>
                                
                                    <td>Company 1:</td>
                                
                                    <td><input type="text" name="Company_1" [(ngModel)]="comp1"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup1(dsgn1,dsgn2)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup2(comp1,comp2)" aria-hidden="true"></i></td>
                                    
                                </tr>
                                <tr>
                                    <td>Designation 2:</td>
                                    <td><input type="text" name="Designation_2" [(ngModel)]="dsgn2"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapdes_comp2(dsgn2,comp2)" aria-hidden="true"></i></td>
                                
                                    <td>Company 2:</td>
                                
                                    <td><input type="text" name="Company_2" [(ngModel)]="comp2"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup3(dsgn2,dsgn3)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup4(comp2,compn3)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Designation 3:</td>
                                    <td><input type="text" name="Designation_3" [(ngModel)]="dsgn3"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapdes_comp3(dsgn3,compn3)" aria-hidden="true"></i></td>
                                
                                    <td>Company 3:</td>
                                
                                    <td><input type="text" name="Company_3" [(ngModel)]="compn3"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup5(dsgn3,dsgn4)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup6(compn3,compn4)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Designation 4:</td>
                                    <td><input type="text" name="Designation_4" [(ngModel)]="dsgn4"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapdes_comp4(dsgn4,compn4)" aria-hidden="true"></i></td>
                                
                                    <td>Company 4:</td>
                                
                                    <td><input type="text" name="Company_4" [(ngModel)]="compn4"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup7(dsgn4,dsgn5)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup8(compn4,comp5)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Designation 5:</td>
                                    <td><input type="text" name="Designation_5" [(ngModel)]="dsgn5"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapdes_comp5(dsgn5,comp5)" aria-hidden="true"></i></td>
                                
                                    <td>Company 5:</td>
                                
                                    <td><input type="text" name="Company_5" [(ngModel)]="comp5"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup9(dsgn5,dsgn6)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapup10(comp5,comp6)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Designation 6:</td>
                                    <td><input type="text" name="Designation_6" [(ngModel)]="dsgn6"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapdes_comp6(dsgn6,comp6)" aria-hidden="true"></i></td>
                                
                                    <td>Company 6:</td>
                                
                                    <td><input type="text" name="Company_6" [(ngModel)]="comp6"></td>
                                
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row">    
                    <div class=" col-sm-12 formsegment" >
                        <fieldset>
                            <legend>Skillset</legend>
                            <table style="width: 100%;margin-bottom: 16px;">
                                <tr>
                                    <td>Skill 1:</td>
                                    <td><input type="text" name="S1" [(ngModel)]="skl1"></td>
                                    <td><i class="fa fa-exchange centeralign" (click)="swapskill1(skl1,skl2)" aria-hidden="true"></i></td>
                                
                                    <td>Skill 2:</td>
                                
                                    <td><input type="text" name="S2" [(ngModel)]="skl2"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupskill1(skl1,skl3)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupskill2(skl2,skl4)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Skill 3:</td>
                                    <td><input type="text" name="S3" [(ngModel)]="skl3"></td> 
                                    <td><i  class="fa fa-exchange centeralign" (click)="swapskill2(skl3,skl4)"  aria-hidden="true"></i></td>
                                    <td>Skill 4:</td>
                                    <td><input type="text" name="S4"  [(ngModel)]="skl4"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupskill3(skl3,skl5)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate " (click)="swapupskill4(skl4,skl6)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Skill 5:</td>
                                    <td><input type="text" name="S5" [(ngModel)]="skl5"></td> 
                                    <td><i  class="fa fa-exchange centeralign" (click)="swapskill3(skl5,skl6)"  aria-hidden="true"></i></td>
                                    <td>Skill 6:</td>
                                    <td><input type="text" name="S6"  [(ngModel)]="skl6"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="row">     
                    <div class=" col-sm-12 formsegment" >
                        <fieldset>
                            <legend>Qualification</legend>
                            <table style="width: 100%;margin-bottom: 16px; ">
                                <tr>
                                    <td>Qualification 1:</td>
                                    <td><input type="text" name="d1" [(ngModel)]="deg1"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg1(deg1,inst1)" aria-hidden="true"></i></td>
                                
                                    <td>Institute 1:</td>
                                   
                                    <td><input type="text" name="in1" [(ngModel)]="inst1"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg1a(inst1,yop1)" aria-hidden="true"></i></td>
                                    <td>Year of Passing 1:</td>
                                
                                    <td><input type="number" name="year1" [(ngModel)]="yop1"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupdeg1(deg1,deg2)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupinst1(inst1,inst2)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupyop1(yop1,yop2)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Qualification 2:</td>
                                    <td><input type="text" name="d2" [(ngModel)]="deg2"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg2(deg2,inst2)" aria-hidden="true"></i></td>
                                
                                    <td>Institute 2:</td>
                                
                                    <td><input type="text" name="in2" [(ngModel)]="inst2"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg2a(inst2,yop2)" aria-hidden="true"></i></td>
                                    <td>Year of Passing 2:</td>
                                
                                    <td><input type="number" name="year2" [(ngModel)]="yop2"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupdeg2(deg2,deg3)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td><i class="fa fa-exchange rotate" (click)="swapupinst2(inst2,inst3)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupyop2(yop2,yop3)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Qualification 3:</td>
                                    <td><input type="text" name="d3" [(ngModel)]="deg3"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg3(deg3,inst3)" aria-hidden="true"></i></td>
                                
                                    <td>Institute 3:</td>
                                
                                    <td><input type="text" name="in3" [(ngModel)]="inst3"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg3a(inst3,yop3)" aria-hidden="true"></i></td>
                                    <td>Year of Passing 3:</td>
                                
                                    <td><input type="number" name="year3" [(ngModel)]="yop3"></td>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupdeg3(deg3,deg4)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td><i class="fa fa-exchange rotate" (click)="swapupinst3(inst3,inst4)" aria-hidden="true"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="fa fa-exchange rotate" (click)="swapupyop3(yop3,yop4)" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td>Qualification 4:</td>
                                    <td><input type="text" name="d4" [(ngModel)]="deg4"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg4(deg4,inst4)" aria-hidden="true"></i></td>
                                
                                    <td>Institute 3:</td>
                                
                                    <td><input type="text" name="in4" [(ngModel)]="inst4"></td>
                                    <td><i class="fa fa-exchange qlalign" (click)="swapdeg4a(inst4,yop4)" aria-hidden="true"></i></td>
                                    <td>Year of Passing 3:</td>
                                
                                    <td><input type="number" name="year4" [(ngModel)]="yop4"></td>
                                
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                    <div style="text-align: right;    margin-right: 4%;margin-bottom: 1%;">
                        <button (click)="output()">Save</button>
                    </div>
                    <div>

                    </div>
                       
            </form>
        </div>
        
           
    </div>

</div>

