html{
    overflow: hidden;
}
.container_fluid{ 
    display: flex;
   position: fixed;
    min-width: 100%;
    background-image: url("../../assets/HRMS02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    background-color: #464646;
    height: 100%;
    justify-content: center;
    flex-direction: row;
}
.container_cover{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0, 0,.5);
}
.login_text{
    font-size: 7rem;
    font-weight: 700;
    color:white;
    margin-right: 100px;
}
.login_container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10%;
}
form{
    display: flex;
    flex-direction: column;
}


input{
    outline: none;
    border: none;
    border-bottom: 1px solid #002e62;
    height: 45px;
    font-size: 20px;
    width: 400px;
    /* cursor: pointer; */
    margin-top: 20px;
    color: #002e62;
    /* font-weight: 700; */
}
/* button{
    border: none;
    background-color: #002e62;
    height: 45px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
} */
input::placeholder{
    color:#295180b0 ;
}
/****************button*********************/
.button-15 {
    background-image: linear-gradient(#42A1EC, #002e62);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    /* direction: ltr; */
    display: block;
    /* font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px; */
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    width: 150px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    align-self: center;
    margin-top: 20px;
  }

  .button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
  }