* {
  text-transform: capitalize;
  margin: 0px;
  text-transform: capitalize;
}
#header {
  background-color: rgb(185, 181, 181);
  height: 9vw;
  width: 99%;
  position: absolute;
  margin-top: -0.5vw;
  padding-top: 2.2vw;
  display: block;
}
.leftupperdiv h1 {
  font-size: 2.35vw;
}
.rightupperdiv h1 {
  font-size: 2.35vw;
}
.rightupperdiv h2 {
  font-size: 1.75vw;
}
p {
  font-size: 1.2vw;
}

.leftupperdiv,
.leftmidlesection {
  /* border: 1px solid blue; */
  position: absolute;
  z-index: 10;
  margin-top: 1em;
  margin-left: 1em;
}
.rightupperdiv {
  float: right;
  margin-top: 1em;
  color: #002e62;
  margin-right: 2em;
  /* border: 1px solid blue; */
}
.leftmidlesection {
  padding-top: 1vw;
  padding-bottom: 5vw;
  margin-top: 10.7vw;
  font-size: 1.45vw;
  background-color: #002e62;
  z-index: 5;
  margin-left: 4px;
  text-align: center;
}
.secondlefttable tbody tr td {
  line-height: 1.5vw;
}
textarea {
  width: 15.5vw;
  height: 2vw;
}

.rightmiddlesection {
  float: right;
  height: 34vw;
  width: 89%;
  margin-top: 7vw;
  font-size: 1.2vw;
  overflow-y: auto;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input {
    width: 100%;
    margin-top: 0;
  }
}
.leftdivision {
  position: absolute;
}
.rightdivision {
  position: absolute;
  float: right;
  margin-left: 40%;
}
button :not() {
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
#upload {
  font-weight: 700;
  padding: 4px;
  position: absolute;
  font-size: 12px;
  display: inline-block;
  margin-top: 8px;
  margin-left: 8vw;
}
.rightmiddlesection button {
  margin-top: 1%;
  margin-left: 35%;
  padding: 0vw 1.7vw;
  border-radius: 3px;
  border: none;
  font-size: 1.5vw;
  font-weight: 700;
  background-color: rgb(185, 181, 181);
}
progress[value] {
  height: 100%;
  width: 40%;
  margin-left: 105px;
}
#tag {
  position: absolute;
  margin-top: 1em;
  font-size: 12px;
  margin-left: 1em;
  font-weight: 600;
}
.rightmiddlesection button:hover {
  color: white;
  background-color: #002e62;
}
#btn {
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}
fieldset{
  border: 1px solid #002e62;
}
legend {
  font-size: 2vw;
  font-weight: 500;
  color: #002e62;
  width: auto;
  margin-left: 5px;
}
.justify{
  margin-left: 102px;
}
.centeralign {
  margin-right: 125px;
  margin-left: 125px;
  color: #002e62;
}
.secondsegment {
  width: 95%;
  margin-top: 1%;
  margin-left: 4.5%;
}
.secondsegment input[type="text"] {
  width: 15.3vw;
  height: 2vw;
}
.secondsegment input[type="number"] {
  width: 15.3vw;
  height: 2vw;
}
a {
  text-decoration: none;
  color: black;
}
ul li {
  font-weight: 500;
  list-style: none;
  line-height: 5vw;
  margin-left: -10px;
  color: white;
  margin-right: 23px;
  cursor: pointer;
}
ul li button {
  padding: 0.8em 2em;
  border-radius: 10px;
  border: none;
  font-size: 1.2vw;
  font-weight: 700;
  background-color: rgb(185, 181, 181);
}
.formsegment {
  width: 100%;
  margin-top: 1em;
}

.changeattr {
  width: 62px;
}
.rotate {
  transform: rotate(90deg);
  color: #002e62;
  margin-left: 98px;
}
/* .content tr td{
  max-width: 133px;
} */
.qlalign{
  margin-right: 12px;
    margin-left: 12px;
    color: #002e62;
}