
<div>
  <app-leftsidemenu></app-leftsidemenu>
  <div class="rightmiddlesection">

    <div class="topContainer">

      <div class="smallsegment" style="background-color:#ffcc0060">
        <div class="background_positon"><i class="fa fa-upload " style="font-size: 60px;padding:5px;color:#b38f0070"
            aria-hidden="true"></i></div>
        <div class=background_data>

          <h1 style="font-weight: 800;font-size: 50px; color:#002e62">{{documentCounter}}</h1>
          <p class="segment_header">Document Uploaded</p>

        </div>

      </div>

      <div class=" smallsegment" style="background-color:#00cc6660">
        <div class="background_positon"><i class="fa fa-check-square-o " style="font-size: 60px;color:#00994d70"
            aria-hidden="true"></i></div>
        <div class=background_data>

          <h1 style="font-weight: 800;font-size: 50px; color:#002e62">{{documentSucess}}</h1>
          <p class="segment_header">Document read success</p>

        </div>

      </div>
      <div class="smallsegment" style="background-color:#ff330060">
        <div class="background_positon"><i class="fa fa-exclamation-triangle "
            style="font-size: 55px;padding:5px;color:#cc290070" aria-hidden="true"></i></div>
        <div class=background_data>

          <h1 style="font-weight: 800;font-size: 50px; color:#002e62">{{documentMatched}}</h1>
          <p class="segment_header">Document Unextracted</p>
        </div>
      </div>

    </div>
    <div class="secondsegment" style="margin-top: 50px;">
      <div class="searchButton"><i class="fa fa-search " style="font-size: 20px;" aria-hidden="true"></i></div>
      <input type="text" [(ngModel)]="searchQuery" class="searchInput" placeholder="Search item"
        (ngModelChange)="modelChanged($event)" [value]="searchValue" [(ngModel)]='searchValue'>
      <div class="micButton" (click)="toggleListening()"><i class="fa"
          [ngClass]="{'fa-microphone': !listening, 'fa-stop': listening}" style="font-size: 20px;"></i></div>

      <button id="btn" type="button" (click)="getAlldata()" class="spinner-btn">
        <span *ngIf="spinner">
          <i class="fa-solid fa-sync fa-spin"></i>
        </span>
        <span *ngIf="!spinner">
          <i class="fa-solid fa-sync"></i>
        </span>

      </button>
    </div>
    <div class="thirdsegment-container">
      <div *ngIf="searchValue" class="thirdsegment">
        <p-table #rd id="printTable" [columns]="FileManagementCols"
          [value]="ResumeTableData | documentfilter: searchValue : columnField" columnResizeMode="expand"
          [responsive]="true" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [scrollable]="true"
          scrollDirection="horizontal" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [resizableColumns]="true">

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr style="height:40px">

              <th *ngFor="let col of columns" pResizableColumn class="dasboardheader">
                {{col.header}}
              </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No records found
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData" class="prime_row">
              <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column prim_Width ">
                <span *ngSwitchCase="'isRead'">
                  <span *ngIf='rowData.isRead==0' style="color: red; text-align: center;">
                    Not Edited
                  </span>

                  <span *ngIf='rowData.isRead==1' style="color: green; text-align: center;">
                    Edited
                  </span>
                </span>

                <span *ngSwitchDefault class="hideTricks"
                  style="text-align: center !important;">{{rowData[col.field]}}</span>

                <span *ngSwitchCase="'action'" style="text-align: center;">

                  <button id="btn" (click)="showDialog(rowData)" type="button" class="btnn" data-toggle="modal"
                    data-target="#exampleModalCenter" label="Show"><i class="fa fa-eye "
                      aria-hidden="true"></i></button>
                  <button id="btn" (click)="showDocuments(rowData)" type="button" class="btnn">
                    <i class="fa-solid fa-file"></i>
                  </button>
                </span>
              </td>
            </tr>

          </ng-template>

        </p-table>
      </div>
    </div>
  </div>

</div>

<div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="border-radius: 15px;">
      <div class="modal-header modalheader" style="border-top-left-radius: 15px;border-top-right-radius: 15px;">
        <h4 class="modal-title" id="myLargeModalLabel">Extracted Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: #e0e6ed;">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="overflow-x: auto;">
          <div class="row">
            <div class="col-md-12" style="max-height:500px; overflow-y: auto;">
              <table class="table">
                <thead class="thead-blue">
                  <tr>
                    <th *ngFor="let head of TableHeaderArray">{{ head.includes('Name') ? 'text':
                      head.includes('Address') ? 'Description' : head.includes('DOB') ? 'Date': head}}</th>
                  </tr>
                </thead>
                <tbody style="height: 10px;">
                  <tr style="text-align: center;">
                    <td *ngFor="let item of FilterArray">{{item.includes('GMT') ? (item | date: 'dd/MM/yyyy'):item}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>