
<app-header></app-header>
<div>
   
    <app-leftsidemenu></app-leftsidemenu>
    <div class="col-sm-11 rightmiddlesection">
        <div class=" col-sm-12 firstsegment" >
          
            <div class="row">                  
                <div class="col-md-2" >
                    
                </div>
              
                <div class="col-md-2-ml-1  smallsegment" >
                    <p class="segment_header">project uploaded</p>
                    
                </div>
                <div class="col-md-2-ml-0.5 smallsegment" >
                    <p class="segment_header">citation matched</p>
                </div>
                <div class="col-md-2 ">
                   
                </div> 
                <div class="col-md-2" >
                    
                </div>           
            </div>
        </div>
        <div class=" col-sm-12 secondsegment" >
            <label>Search citation:  </label>
            <input type="text">
          <input id="gobtn" type="button" value="Go" >
        </div>


        <div class=" col-sm-12 thirdsegment" style="padding-top: 1vw;overflow: auto;">
            <table style="width:90%; text-align: center; border: 1x solid black;">
                <thead>
                    <tr>
                        <th colspan="3">resource name </th>
                        <th colspan="3">date uploaded</th>
                        <th colspan="3">citation matched</th>
                        <th colspan="2">current project allocation</th>
                        <th colspan="1">client location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody >
                    <tr  style="border: 1x solid black;">
                        <td colspan="3">ABC</td>
                        <td colspan="3">{{dt2}} {{dt3}}:{{dt4}} {{APM}}</td>
                        <td colspan="3">.doc</td>
                        <td colspan="2">success</td>
                        <td></td>
                        <td><button  id="btn">invite</button></td>
                    </tr>
                </tbody>
            </table>
        
        
        </div>
           
    </div>

</div>

