*{
    text-transform: capitalize;
    margin:0px;
    text-transform: capitalize;
   
}
#header{
    background-color: rgb(185, 181, 181);
    height: 9vw;
    width: 99%;
    position: absolute;
    margin-top: -0.5vw;
    padding-top: 2.2vw;
    display: block;
    
}
.leftupperdiv h1{
    font-size:2.35vw;
}
.rightupperdiv h1{
    font-size:2.35vw;
}
.rightupperdiv h2{
    font-size:1.75vw;
}
p{
    font-size: 1.2vw;
}

.leftupperdiv, .leftmidlesection{
    /* border: 1px solid blue; */
    position: absolute;
    z-index: 10;
    margin-top: 1em;
    margin-left: 1em;
}
.rightupperdiv{
    float: right;
    margin-top: 1em;
    color: #002e62;
    margin-right: 2em;
    /* border: 1px solid blue; */
}
.leftmidlesection{
    padding-top: 1vw;
    padding-bottom: 5vw;
    margin-top: 10.7vw;
    font-size: 1.45vw;
    background-color: #002e62;
    z-index: 5;
    margin-left: 4px;
    text-align: center;

}
.rightmiddlesection{
    float: right;
    height:10vw;
 
    width: 80%;
    margin-top: 10.7vw;
}
button{
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.rightmiddlesection button{
    margin-top: 8%;
    margin-left: 21%;
    padding:0.7vw 1.7vw;
    border-radius: 10px;
    border: none;
    font-size: 2vw;
    background-color: rgb(185, 181, 181);
}
#fileupload {
    margin-left: 35%;
}
#uploadbtn{
    margin-left: 0px;
    height: 2vw;
    font-weight: 700;
    width: 9vw;
    font-size: 63%;
    display: inline-block;
    line-height: 0.2vw;
}
#uploadslot
#fileupload{
    font-size: 1.2vw;
    outline: none;
    border: none;
}
.rightmiddlesection button:hover{
    color: white;
    background-color: #002e62;
}
a{
    text-decoration: none;
    color:black;
}
button{
    cursor: pointer;
}
ul li{
    font-weight: 500;
    list-style: none;
    line-height: 5vw;
    margin-left: -10px;
    color: white;
    margin-right: 23px;
    cursor: pointer;

}
ul li button{
    padding: 0.8em 2em;
    border-radius: 10px;
    border: none;
    font-size: 1.2vw;
    font-weight: 700;
    background-color: rgb(185, 181, 181);
}