<app-header></app-header>
<div>
    <!-- <div class="col-sm-3 leftmidlesection">
      <h4><span style = "color: green; margin-bottom: 40px; ">John Doe</span></h4>  
        <ul>
           
            <li (click)="navigate()">upload resume</li>
            <li>edit resume</li>
            <li>value fitment</li>
            <li>Setting</li>
            <li><button (click)="userlogout()">Logout</button></li>
        </ul>
    </div> -->
    <app-leftsidemenu></app-leftsidemenu>
    <div class="col-sm-9 rightmiddlesection">
        <div class=" col-sm-2"></div>
        <div class=" col-sm-8">
            <div style="width:70%">
                <input type="file" (change)="selectonfile($event)" accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" id="fileupload">
                <button id="uploadbtn" (click)="uploadfile()">Upload resume</button>
            </div>
        </div>
        <div class=" col-sm-2"></div>
           
    </div>

</div>

